<div class="container">
<%-# This syntax [collections, @collection] tells form_for to use the routes from the engine named collections %>
<%= form_for([collections, @collection]) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag 'collection_title', 'Title' %><br />
    <%= text_field_tag 'collection[title][]', nil, id: 'collection_title' %>
  </div>

  <div class="field">
    <%= label_tag 'collection_description', 'Description' %><br />
    <%= text_area_tag 'collection[description][]', nil, id: 'collection_description' %>
  </div>

  <%= hidden_collection_members %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
